stash/
cpp/src/qt-reprozip/bin/*
cpp/src/qt-reprozip/export/*
!cpp/src/qt-reprozip/bin/readme
!cpp/src/qt-reprozip/export/readme
data/wcm/dbs/*
!data/wcm/dbs/readme
build-*
!build-proset.pri
!build-group.pri
!build-root.pri
!build-root-both.pri
!build-all.pro
!build-quick.pro
!build-most.pro
!build-first.pro
!build-custom.pro
!build-order.txt
targets
Contents
*.pro.user
*.err.txt
*.gen.txt
screenshots
*.rz.*



